@font-face {
  font-family: "Clash Display bold";

  src: url(../webfontkit-20240404-115750/clashdisplay-bold-webfont.woff);
}

@font-face {
  font-family: "Clash Display semibold";

  src: url(../webfontkit-20240404-115750/clashdisplay-semibold-webfont.woff);
}

@font-face {
  font-family: "Clash Display medium";

  src: url(../webfontkit-20240404-115750/clashdisplay-medium-webfont.woff);
}

@font-face {
  font-family: "Clash Display medium";

  src: url(../webfontkit-20240404-115750/clashdisplay-medium-webfont.woff);
}

@font-face {
  font-family: "Clash Display light";

  src: url(../webfontkit-20240404-115750/clashdisplay-light-webfont.woff);
}

@font-face {
  font-family: "Clash Display extralight";

  src: url(../webfontkit-20240404-115750/clashdisplay-extralight-webfont.woff);
}

::selection {
  background: #5249398d;
}

body {
  background: black;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;

}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #575757;
}

::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

::-webkit-scrollbar-track {
  background: black;
}

#mobile-blur {
  display: none;
}

#mobile-blur-container {
  display: none;
}

#particles-js {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#navbar {
  background-color: #0000000f;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-left: 10%;
  padding-right: 10%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 0;
}

#navbar-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo {
  margin-left: 10px;
  font-family: 'Clash Display medium';
}

.logo h4 a {
  text-decoration: none;
  font-family: "Clash Display medium";
  font-size: 24px;
  color: white;
  margin: 0;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

#about-me-text {
  font-family: "Clash Display light";
  font-size: 21px;
  color: white;
  text-decoration: none;
  margin: 0;
}

hr {
  margin-right: 20%;
  margin-bottom: 0;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#title {
  font-family: "Clash Display bold";
  font-size: 96px;
  color: white;
  margin-bottom: 25px;
}

#subtitle {
  font-family: Clash Display medium;
  font-size: 24px;
  background: -webkit-linear-gradient(45deg, rgba(83,83,83,1) 0%, rgba(185,185,185,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.swipe-down-container {
  width: 10%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#swipe-down-text {
  font-family: "Sorts Mill Goudy", serif;
  color: #FFFFFF;
  font-style: italic;
  font-size: 24px;
}

.arrow-1 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  cursor: default;
}

.arrow-2 {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  cursor: default;
}

.arrow-1 span, .arrow-2 span{
  display: block;
  width: 0.5vw;
  height: 0.5vw;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-top: -5px;
  margin-left: 0;
  margin-right: -4px;
  margin-bottom: 0;
  animation: animate 2s infinite;
}

.arrow-1 span:nth-child(2), .arrow-2 span:nth-child(2){
  animation-delay: -0.2s;
}

.arrow-1 span:nth-child(3), .arrow-2 span:nth-child(3){
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-5px, -5px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(5px, 5px);
  }
}

#scroll-to-projects {
  position: relative;
  top: 80vh;
}

#projects {
  position: relative;
  top: 100vh;
  width: 80%;
  max-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

#project-title {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 40px;
  color: white;
  margin-bottom: 5px;
  margin-top: 50px;
}

.tile-container {
  margin-top: 50px;
}

.technologies-tiles {
  display: flex;
  flex-direction: row;
}

.tile {
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  background-color: #5f5f5f7e;
  border-radius: 10px;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-right: 10px;
}

.tile p {
  font-family: "Clash Display medium";
  font-size: 16px;
  color: #8b8b8b;
  margin: 0;
}

.project-bento {
  width: 100%;
  height: 425px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.project-bento-1 video {
  height: 97%;
  border-radius: 17px;
  cursor: pointer;
}

#subtitles {
  position: absolute;
  bottom: 10%;
  background-color: rgba(0, 0, 0, 0.858);
  border: 2px solid #5f5f5f7e;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  color: white;
  font-family: 'Clash Display medium';
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  width: 150px;
  min-height: 80px;
  max-height: 120px;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease;
  cursor: default;
  user-select: none;
}

#time-indicator {
  position: absolute;
  top: 5%;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Clash Display medium';
  font-size: 16px;
  opacity: 0;
}

#playPauseButton {
  position: absolute;
  top: 5%;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Clash Display medium';
  font-size: 16px;
  opacity: 0;
  border: none;
  cursor: pointer;
}

#playPauseButton:hover {
  opacity: 1;
}

#video-1-container {
  transition: ease-in-out 0.7s;
}

#video-1-container:hover{
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 20px 0px #bababa7e;
}

#video-1-container:hover #subtitles {
  opacity: 1;
}

#video-1-container:hover #time-indicator {
  opacity: 0.7;
}

#video-1-container:hover #playPauseButton {
  opacity: 0.7;
}

.project-bento > div {
  margin-right: 10px; /* Añade margen a la derecha de cada div */
}

.project-bento-1 {
  background-color: #ffffff14;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 22px;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #5f5f5f7e;
  transition: ease-in-out 0.7s;
}

.project-bento-1:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 20px 0px #bababa7e;
}

.project-bento-2 {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.font-bento-container {
  width: 100%;
  height: 20%;
  background-color: #ffffff14;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5f5f5f7e;
  transition: ease-in-out 0.7s;
}

.font-bento-container:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 20px 0px #bababa7e;
}

.font-bento-heading-1 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: white;
  margin: 0;
}

.font-bento-heading {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
  margin: 0;
  margin-bottom: -10px;
}

.main-page-bento-container {
  width: 100%;
  height: calc(60% - 20px);
  background-color: #ffffff14;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5f5f5f7e;
  transition: ease-in-out 0.7s;
}

.main-page-bento-container:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 20px 0px #bababa7e;

}

#foodLink-main-page {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 22px;

}

.main-page-bento-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 22px;
}

.color-palette-bento-container {
  width: 100%;
  height: 20%;
  background-color: #ffffff14;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #5f5f5f7e;
  transition: ease-in-out 0.7s;
}

.color-palette-bento-container:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 20px 0px #bababa7e;

}

.color-palette-1,
.color-palette-2,
.color-palette-3 {
  border-radius: 22px;
  height: 90%;
}

.color-palette-1 {
  background-color: #FFFFFF;
  width: 31%;
}

.color-palette-2 {
  background-color: #B3B3B3;
  width: 31%;
}

.color-palette-3 {
  background-color: #000000;
  width: 31%;
}

.color-palette-1-FL,
.color-palette-2-FL,
.color-palette-3-FL {
  border-radius: 22px;
  height: 90%;
}

.color-palette-1-FL {
  background-color: #1E1E1E;
  width: 31%;
}

.color-palette-2-FL {
  background-color: #8BB481;
  width: 31%;
}

.color-palette-3-FL {
  background-color: #FFFFFF;
  width: 31%;
}

.project-bento-3 {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.video-bento-container {
  width: 100%;
  height: calc(50% - 5px);
  background-color: #ffffff14;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5f5f5f7e;
  transition: ease-in-out 0.7s;
}

.video-bento-container:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 20px 0px #bababa7e;
}

.images-bento-container {
  width: 100%;
  height: calc(50% - 5px);
  background-color: #ffffff14;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #5f5f5f7e;
  transition: ease-in-out 0.7s;
}

.images-bento-container:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 20px 0px #bababa7e;

}

.images-bento-container img {
  height: 95%;
  border-radius: 12px;
}

.video-bento-container video {
  width: 95%;
  border-radius: 22px;
}

#myVideo2 {
  height: 96%;
  object-fit: cover;
  border-radius: 22px;

}

.logo-bento-container {
  width: 100%;
  height: calc(50% - 5px);
  background-color: #ffffff14;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5f5f5f7e;
  transition: ease-in-out 0.7s;
}

.logo-bento-container:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 20px 0px #bababa7e;
}

.logo-bento-heading {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-size: 175px;
  color: white;
  margin: 0;
}

#technologies {
  position: relative;
  width: 80%;
  max-width: 80%;
  top: 110vh;
  padding-left: 10%;
  padding-right: 10%;
}

#section-title {
  font-family: "Clash Display medium";
  font-size: 40px;
  color: white;
  margin-bottom: 25px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  -webkit-mask-image: linear-gradient(270deg, transparent, black, black, transparent);
  mask-image: linear-gradient(270deg, transparent, black, black, transparent);
}

.carousel__slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  border: none;
  height: 200px;
  margin-top: 0px;
}

.carousel__list {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 27px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
}

#carousel-img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

#carousel-img:hover {
  transform: scale(1.05);
  transition: 0.3s;
  font-size: 30px;
}

.tooltip-container {
    position: relative;
    display: inline-block; /* Para asegurarse de que el tooltip aparezca correctamente */
    transform: 0.5s;
}

.tooltip-container .tooltiptext {
    visibility: hidden;
    background-color: #5f5f5f7e;
    color: #8b8b8b;
    text-align: center;
    padding: 8%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: 2px solid transparent;

    /* Posiciona el tooltip arriba de la imagen y en el centro horizontalmente */
    position: absolute;
    z-index: 999;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Clash Display medium";
}

.tooltip-container:hover .tooltiptext {
    visibility: visible;
}

#contact {
  position: relative;
  width: 80%;
  max-width: 80%;
  top: 125vh;
  padding-left: 10%;
  padding-right: 10%;
}

#contact-content {
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: max-content;
}

#contact-email {
  font-family: "Clash Display medium";
  font-size: 32px;
  background: -webkit-linear-gradient(45deg, rgba(83, 83, 83, 1) 0%, rgba(185, 185, 185, 1) 90%, rgb(255, 255, 255) 100%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-bottom: 75px;
  margin-top: 50px;
  font-weight: 600;
  transition: ease-in-out 0.7s;
  text-decoration: none;
}

#contact-email:hover {
  background-position: right center;
  cursor: pointer;
  transform: scale(1.02);
  transition: ease-in-out 0.3s;
  
}

#contact-socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
  margin-top: 50px;
  position: absolute;
  right: 10%;
}

#contact-tile {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  background-color: transparent;
  border-radius: 10px;
  border-color: #5f5f5f7e;
  border-width: 2px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-right: 10px;
  color: #ababab;
  text-decoration: none;
  font-family: 'clash display medium';
  font-size: 16px;
  transition: ease-in-out 0.5s;
}

#contact-tile:hover {
  transition: ease-in-out 0.3s;
  border-radius: 20px;
  background-color: #ababab33;
  box-shadow: 0px 0px 15px 0px #bababa7e;
}

#contact-tile svg path{
  fill: #ababab;
}

#contact-tile svg {
  height: 50%;
  margin-left: -5px;
}

@media (max-width: 768px) {
  #mobile-blur {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }

  #mobile-blur-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 80%;
    height: 100%;
    z-index: 1001;
  }

  #mobile-blur-heading {
    font-family: "Clash Display bold";
    font-size: 48px;
    color: white;
    text-align: center;
  }

  #mobile-blur-text {
    font-family: "Clash Display medium";
    font-size: 24px;
    color: white;
    text-align: center;
  }

  .no-scroll {
    overflow: hidden;
  }

  /* Typography adjustments */
  #title {
    font-size: 48px; /* Scaled down for mobile readability */
    padding: 0 10px; /* Padding to prevent edge clashing */
    text-align: center; /* Center title for better focus */
  }

  #subtitle {
    font-size: 16px; /* Adjust subtitle size for clarity */
    text-align: center; /* Center aligning the subtitles */
    padding: 0 15px; /* Padding for better text display */
  }

  /* Navbar adjustments */
  #navbar {
    height: auto; /* Auto height for accommodating smaller elements */
    background-color: rgba(0, 0, 0, 0.85); /* Better visibility on scroll */
    z-index: 999;
  }

  /* Logo adjustments for small screens */
  .logo {
    padding: 10px 0; /* Padding for touch targets */
  }
  
  .logo h4 a {
    font-size: 18px; /* Smaller font size for space management */
  }

  /* Structural adjustments */
  .swipe-down-container {
    width: 25%; /* Larger relative width for better visibility */
    bottom: 10%; /* Increased spacing from the bottom */
    padding: 5px; /* Padding for better touch responsiveness */
  }
  
  /* Content container adjustments */
  .title-container, .tile-container, .project-bento, .technologies-tiles {
    padding: 0 5%; /* Uniform padding for consistent layout */
    text-align: center; /* Center align for better focus */
  }

  /* Button and interactive elements */
  #playPauseButton, #scroll-to-projects {
    font-size: smaller; /* Smaller font for buttons and links */
    padding: 8px; /* Larger padding for easy interaction */
  }

  /* Adjust Project Tiles and Technologies section for stacking */
  .tile, .project-bento-1, .project-bento-2, .project-bento-3 {
    width: 100%; /* Full width for better layout */
    margin-bottom: 15px; /* Spacing between stacked items */
  }

  /* Contact and Footer Sections */
  #contact-content, #contact-socials {
    flex-direction: column; /* Stack contact info and socials vertically */
    text-align: center; /* Center alignment for content */
  }

  #contact-tile {
    margin: 10px auto; /* Center and space out contact tiles */
  }
  
  /* Hide elements not necessary on mobile for clear focus */
  .arrow-1, .arrow-2 {
    display: none; /* Remove navigation arrows not usable on mobile */
  }

  #about-me-nav-text {
    font-size: 16px;
  }
}

/* Additional CSS for very small devices (up to 480px width) */
@media (max-width: 480px) {
  #title {
    font-size: 40px; /* Further reduced font size */
  }

  #subtitle {
    font-size: 14px; /* Further reduced subtitle size */
  }

  .logo h4 a {
    font-size: 16px; /* Reduced further to fit small screens */
  }

  .swipe-down-container {
    width: 30%; /* Increased visible area for interactive element */
  }
  
  /* Adjust project details for very small screens */
  .project-bento, .technologies-tiles, .carousel {
    flex-direction: column; /* Ensure everything stacks vertically for narrow screens */
    align-items: center;
  }
}


/* ----------------------------------- */
/* ABOUT ME STYLES */
/* ----------------------------------- */


#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px 20px;
  color: white;
  text-align: center;
}
#about-me {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}

#about-me-nav-text {
  text-decoration: none;
  color: rgb(192, 192, 192);
  font-size: 21px;
}

#about-me-nav-text-active {
  text-decoration: underline;
} 

#image-container {
  width: 400px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#about-me-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}

#about-me-image:hover {
  transform: scale(1);
  transition: ease-in-out 0.3s;
}

#about-me-text {
  max-width: 600px;
  text-align: left;
  margin-left: 50px;
}

#contact-socials-about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#about-me-text h2 {
  font-family: "Clash Display bold";
  font-size: 48px;
  margin: 0;
  margin-bottom: 20px;
}

#about-me-text p {
  font-family: 'sorts mill goudy';
  font-size: 24px;
}

#photography-heading {
  font-family: "Clash Display bold";
  font-size: 48px;
  color: white;
  margin-bottom: 50px;
  margin-top: 100px;
}

.photos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 60%;
  max-width: 1200px; /* Adjust as needed */
  margin: auto;
}

.photos-container img {
  width: 100%;
  aspect-ratio: 1 / 1; /* Makes the image container square */
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.photos-container img:hover {
  transform: scale(1.02);
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
